<h1>Project Requirement</h1>

<p>This project aims at creating a Quora Clone. Expected Output::</p>
<ol> 
	<li>Viewing questions and answers </li>
<li> Adding questions and answers </li>
<li> Editing questions and answers </li>
<li> Removing questions and answers </li>
<li> Rating changing of questions and answers</li> 
<li></li>
<li> Adding questions to favorites </li>
<li> Accepting answers </li>
<li> Filtering, sorting and searching by question list </li>
<li> Viewing users </li>
<li>  Rating changing of users </li>
<li>  Filtering, sorting and searching by user list </li>
</ol>
